In [23]:
import pandas as pd
import statistics as st

In [2]:
data = pd.read_csv('C:/Users/user/Downloads/StudentsPerformance.csv')

In [ ]:
#Reading data from csv file

# 1. Find out how many males and females participated in the test.

In [7]:
data.groupby('gender')['gender'].count()

gender
female    518
male      482
Name: gender, dtype: int64

In [ ]:
# Group By gender and finding the count of male and female in dataset

# 2. What do you think about the students' parental level of education?

In [8]:
data.groupby('parental level of education')['parental level of education'].count()

parental level of education
associate's degree    222
bachelor's degree     118
high school           196
master's degree        59
some college          226
some high school      179
Name: parental level of education, dtype: int64

In [ ]:
#Grouping By parental level of education and getting its count

In [27]:
d1 = data['parental level of education']
st.mode(d1)

'some college'

Most frequently occuring parental level of education is "Some college"

# 3. Who scores the most on average for math, reading and writing based on

# a. Gender

In [44]:
data_gender = data.groupby('gender')['math score','reading score','writing score'].mean()
data_gender.idxmax()

<ipython-input-44-4fb7320ef13f>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_gender = data.groupby('gender')['math score','reading score','writing score'].mean()

math score         male
reading score    female
writing score    female
dtype: object

In [ ]:
#Grouping by gender and finding mean of math,reading,writing scores

Male scored the most for math,female scored the most for reading and writing score

# b. Test preparation course

In [45]:
data_test =  data.groupby('test preparation course')['math score','reading score','writing score'].mean()
data_test.idxmax()

<ipython-input-45-a799d7b3d3b4>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_test =  data.groupby('test preparation course')['math score','reading score','writing score'].mean()

math score       completed
reading score    completed
writing score    completed
dtype: object

In [49]:
data_test

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

people who Completed  test preparation course scored the most

# 4. What do you think about the scoring variation for math, reading and writing based on

# a.Gender

In [48]:
data_gender_std = data.groupby('gender')['math score','reading score','writing score'].std()
data_gender_std

<ipython-input-48-0d4620685d3e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_gender_std = data.groupby('gender')['math score','reading score','writing score'].std()

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

Standard deviation is more for female in all the 3 subjects

# b. Test preparation course

In [51]:
data_test_std =  data.groupby('test preparation course')['math score','reading score','writing score'].std()
data_test_std

<ipython-input-51-1950611596b2>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data_test_std =  data.groupby('test preparation course')['math score','reading score','writing score'].std()

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

Standard deviation is more for people who have not completed(ie, none category) test preparation course in all the 3 subjects

# 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [54]:
data['math score'].nlargest(250)

515    100
516    100
517    100
996    100
997    100
      ...
428     77
429     77
849     77
850     77
851     77
Name: math score, Length: 250, dtype: int64

In [ ]:
#finding top 25% of students who scored more in maths

finding id of top 25% or 250 people in dataset based on their maths score